Header_InvokedTemplate=invokedtemplateheader.yaml
Header_InvokerTemplate=invokertemplateheader.yaml
StepName_1=bwamem
NumberOfSamples_bwamem=1
SampleId_bwamem_1=001
NumberOfLanes_bwamem_1=4
Gender_1=UnsupportedGenderValue
Reference_S1L1=tmp/chr21/human_g1k_v37_decoy.21.fasta
ReferenceSAIndexfile_S1L1=tmp/chr21/human_g1k_v37_decoy.21.fasta.sa
ReferenceAMBIndexfile_S1L1=tmp/chr21/human_g1k_v37_decoy.21.fasta.amb
ReferenceANNIndexfile_S1L1=tmp/chr21/human_g1k_v37_decoy.21.fasta.ann
ReferenceBWTIndexfile_S1L1=tmp/chr21/human_g1k_v37_decoy.21.fasta.bwt
ReferenceDICTIndexfile_S1L1=tmp/chr21/human_g1k_v37_decoy.21.dict
ReferencePACIndexfile_S1L1=tmp/chr21/human_g1k_v37_decoy.21.fasta.pac
ReferenceFAIIndexfile_S1L1=tmp/chr21/human_g1k_v37_decoy.21.fasta.fai
ActiveDeadlineSeconds_S1L1=7200
RetryStrategy_S1L1=10
MemoryLimits_S1L1=8000Mi  
CPULimits_S1L1=10
MemoryRequests_S1L1=2000Mi 
CPURequests_S1L1=4
LaneId_bwamem_1=1
Fastq1_1=SP11.fq
Fastq2_1=SP12.fq 
Bucket_S1L1=test-argo-artifacts
GlobalNameBam_S1L1=S1-L1-bam
GlobalNameBai_S1L1=S1-L1-bai
Mode_bwamem_S1L1=Linear
InvokedTemplateFile_bwamem_S1L1=linearbwamemtemplate.yaml  
InvokerTemplateFile_bwamem_S1L1=linearBwaMemWorkflowStepTemplate.yaml
LaneId_bwamem_2=2
Fastq1_2=SP21.fq
Fastq2_2=SP22.fq 
Bucket_S1L2=test-argo-artifacts
GlobalNameBam_S1L2=S1-L2-bam
GlobalNameBai_S1L2=S1-L2-bai
Mode_bwamem_S1L2=Linear
InvokedTemplateFile_bwamem_S1L2=linearbwamemtemplate.yaml  
InvokerTemplateFile_bwamem_S1L2=linearBwaMemWorkflowStepTemplate.yaml
LaneId_bwamem_3=3
Fastq1_3=SP31.fq
Fastq2_3=SP32.fq 
Bucket_S1L3=test-argo-artifacts
GlobalNameBam_S1L3=S1-L3-bam
GlobalNameBai_S1L3=S1-L3-bai
Mode_bwamem_S1L3=Linear
InvokedTemplateFile_bwamem_S1L3=linearbwamemtemplate.yaml  
InvokerTemplateFile_bwamem_S1L3=linearBwaMemWorkflowStepTemplate.yaml
LaneId_bwamem_4=4
Fastq1_4=SP41.fq
Fastq2_4=SP42.fq 
Bucket_S1L4=test-argo-artifacts
GlobalNameBam_S1L4=S1-L4-bam
GlobalNameBai_S1L4=S1-L4-bai
Mode_bwamem_S1L4=Linear
InvokedTemplateFile_bwamem_S1L4=linearbwamemtemplate.yaml  
InvokerTemplateFile_bwamem_S1L4=linearBwaMemWorkflowStepTemplate.yaml
StepName_2=querynamesort
NumberOfSamples_querynamesort=1
SampleId_querynamesort_1=001
NumberOfLanes_querynamesort_1=4
LaneId_querynamesort_1=1
Mode_querynamesort_S1L1=Linear
InvokedTemplateFile_querynamesort_S1L1=linearQueryNameSortTemplateSpecification.yaml
InvokerTemplateFile_querynamesort_S1L1=
LaneId_querynamesort_2=2
Mode_querynamesort_S1L2=Linear
InvokedTemplateFile_querynamesort_S1L2=linearQueryNameSortTemplateSpecification.yaml
InvokerTemplateFile_querynamesort_S1L2=
LaneId_querynamesort_3=3
Mode_querynamesort_S1L3=Linear
InvokedTemplateFile_querynamesort_S1L3=linearQueryNameSortTemplateSpecification.yaml
InvokerTemplateFile_querynamesort_S1L3=
LaneId_querynamesort_4=4
Mode_querynamesort_S1L4=Linear
InvokedTemplateFile_querynamesort_S1L4=linearQueryNameSortTemplateSpecification.yaml
InvokerTemplateFile_querynamesort_S1L4=
StepName_3=markduplicates
NumberOfSamples_markduplicates=1
SampleId_markduplicates_1=001
NumberOfLanes_markduplicates_1=4
LaneId_markduplicates_1=1
Mode_markduplicates_S1L1=Linear
InvokedTemplateFile_markduplicates_S1L1=linearMarkDuplicatesTemplateSpecification.yaml
InvokerTemplateFile_markduplicates_S1L1=
LaneId_markduplicates_2=2
Mode_markduplicates_S1L2=Linear
InvokedTemplateFile_markduplicates_S1L2=linearMarkDuplicatesTemplateSpecification.yaml
InvokerTemplateFile_markduplicates_S1L2=
LaneId_markduplicates_3=3
Mode_markduplicates_S1L3=Linear
InvokedTemplateFile_markduplicates_S1L3=linearMarkDuplicatesTemplateSpecification.yaml
InvokerTemplateFile_markduplicates_S1L3=
LaneId_markduplicates_4=4
Mode_markduplicates_S1L4=Linear
InvokedTemplateFile_markduplicates_S1L4=linearMarkDuplicatesTemplateSpecification.yaml
InvokerTemplateFile_markduplicates_S1L4=
StepName_4=end